* {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
}

body {
  background: #272822; /* fallback for old browsers */
  color: #f8f8f2;
  /*
    #341e48 (purple)
    #E8117F (pink)
    #E6DB74 (yellow)
  */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #4e5047;
  border: 0.2rem solid #f8f8f2;
  /* width: 100%; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
}

nav li {
  display: inline;
  float: left;
  padding: 0.5rem 2rem;
}

nav li a {
  display: block;
  padding: 0.5rem;
  color: #f8f8f2;
  text-decoration: none;
  text-align: center;
}

nav li:hover {
  background-color: #272822;
}

.form-heading {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: #e6db74;
}

div.form {
  border-radius: 5px;
  background-color: #4e5047;
  margin-left: 25%;
  margin-top: 20px;
  padding: 20px;
  width: 50%;
}

label {
  text-transform: uppercase;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input.btn {
  background-color: #628b68;
  color: #f8f8f2;
}

input.btn:hover {
  background-color: #37583c;
  cursor: pointer;
}
